<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zambrero</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        body {
            padding-top : 50px;
        }
    </style>
</head>
<body class="container">

<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    Wepass
                </a>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="jumbotron">
        <h1>Hola, <%= user.firstName %></h1>
        <form id="passwordForm">
            <p>Crear una nueva contraseña</p>
            <div class="form-group">
                <label for="usr">Contraseña:</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="pwd">Confirmar Contraseña:</label>
                <input type="password" class="form-control" id="passwordRepeat">
            </div>

            <div class="form-group" style="height: 60px">
                <div id="errorMessagePassword" style="display: none" class="alert alert-danger" role="alert">
                    Las contraseñas no coinciden
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg" id="passwordSubmit">Enviar</button>
        </form>
        <div id="response" style="display: none">
            <p>La contraseña se actualizó con éxito</p>
        </div>
    </div>
</main>

<footer>
    <p class="text-center text-muted">© Copyright 2018 Wepass</p>
</footer>


<script>
  var $button = document.getElementById('passwordSubmit');
  var $password = document.getElementById('password');
  var $passwordRepeat = document.getElementById('passwordRepeat');
  var $passwordForm = document.getElementById('passwordForm');
  var $errorMessage = document.getElementById('errorMessage');
  var $errorMessagePassword = document.getElementById('errorMessagePassword');
  var $response = document.getElementById('response');
  // Bind elements to listeners.
  $password.onkeyup = validate;
  $passwordRepeat.onkeyup = validate;
  window.onload = validate;
  $passwordForm.onsubmit = changePassword;
  // Validate form fields to activate/deactivate the button.
  function validate () {
    if (!$password.value || !$passwordRepeat.value) {
      $button.disabled = true;
      return;
    }
    if ($password.value !== $passwordRepeat.value) {
      $button.disabled = true;
      $errorMessagePassword.style.display = 'block';
      return;
    }
    $errorMessagePassword.style.display = 'none';
    $button.disabled = false;
  }
  // Send request to reset password.
  function changePassword (e) {
    e.preventDefault();
    // Request.
    var request = new XMLHttpRequest();
    request.open('POST', '', true);
    request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
    // On request complete.
    request.onload = function () {
      if (!(request.status >= 200 && request.status < 400)) {
        return requestError();
      } else {
        $passwordForm.style.display = 'none';
        $response.style.display = 'block';
      }
    }
    // On request error.
    request.onerror = requestError;
    function requestError () {
      var response = JSON.parse(request.responseText);
      $errorMessage.innerHTML = response.message;
    }
    // Send request.
    var params = {
      password : $password.value,
      passwordRepeat : $passwordRepeat.value,
    }
    request.send(JSON.stringify(params));
  }
</script>

</body>
</html>
